<!-- news.html -->

{% extends 'flatpages/default.html' %}
{% load my_filters %}
{% load custom_tags %}
{% block title %}News{% endblock %}

{% block content %}

<h1>Все новости, количество - {{news_count}}</h1>
<a href="{% url 'become_author' %}">Стать автором</a>
{% if news %}
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
{% if current_category %}
    <h2>Новости категории: {{ current_category.name }}</h2>
    <a href="{% url 'subscribe_to_category' category.id %}">Подписаться</a>
{% endif %}
{% for n in news %}
<h2>{{ n.title|censor }}</h2>
<p>{{ n.created_at}}</p>
<p>{{ n.text|truncatewords:20|censor }}</p>
<!-- Вывод категорий для каждой новости -->
<p>Категории:
{% for category in n.categories.all %}
    {{ category.name }}
    {% if user not in category.subscribers.all %}
        <a href="{% url 'subscribe_to_category' category.id %}" class="btn btn-primary">Подписаться на категорию</a>
    {% endif %}
    {% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
{% endfor %}
{% else %}
<h2>Новостей нет!</h2>
{% endif %}

 {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock %}